.site-title {
    color: blue;
    font-family: 'Georgia', serif;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

/*Affiche la section en bas de la page */
.affichage-liens {
    text-align: center;
    position: fixed;

    /*Centre la ligne du bas et les liens*/
    left: 50%;
    transform: translateX(-50%);

    /*Mise en forme de la ligne*/
    border-top: 2px solid #000;
    bottom: 0px;
    width: 85%;
    padding-top: 10px;
    z-index: 1000;
}

.affichage-liens a {
    text-align: center;
    display: inline;
    color: red;
    margin: 0 20px;
}

/*Mets une image en fond d'écran et centre les textes*/
body {
    background-image: url('/static/image-fond-ecran-aquarelle-bleu-acier-clair.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 96vh;
}

