.site-title {
    color: blue;
    font-family: 'Georgia', serif;
    border-bottom: 2px solid #000;
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 10px;
}

/*Mets une image en fond d'écran et centre les textes*/
body {
    background-image: url('/static/image-fond-ecran-aquarelle-bleu-acier-clair.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 96vh;
    padding-bottom: 70px;
}

/*Affiche la section en bas de la page */
.affichage-liens {
    text-align: center;
    position: absolute;

    /*Centre la ligne du bas et les liens*/
    left: 50%;
    transform: translateX(-50%);

    /*Mise en forme de la ligne*/
    border-top: 2px solid #000;
    bottom: 0px;
    width: 80%;
    padding-top: 20px;
    padding-bottom : 15px;
}

.affichage-liens a{
    text-align: center;
    display: inline;
    color: white;
    margin: 0 20px;

    padding: 6px 12px;
    margin: 0 10px;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.42857143;
}

.logo-site {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

.logo-accueil {
    margin-top: 20px;
    display: inline-block;
}

.logo {
    width: 50px;
    height: auto;
}

.taille-image {
    width: 350px;
    height: auto;
}

.bouton-deco {
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 300px;
}

.bouton-deco:hover {
    background-color: #0056b3;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-gauche {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-droite {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.salutations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texte-salutations{
    color: blue;
    font-family: 'Georgia', serif;
    font-size: 30px;
}