{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Bonjour {{ user.username }}!</h5>
        <p class="card-text">Vous êtes connecté. Profitez de nos outils financiers pour prendre des décisions éclairées.</p>
    </div>
</div>

<div class="hero-section text-center py-5">
    <div class="container">
        <h1 class="display-4 fw-bold">Bienvenue sur FinanceBMB</h1>
        <p class="lead">FinanceBMB est votre outil de prédilection pour rechercher des informations financières sur les compagnies. Nous vous aidons à analyser les données de prix, les indicateurs MACD et Signal, ainsi que divers ratios financiers. Que vous soyez un investisseur chevronné ou un novice en bourse, notre plateforme vous offre des outils puissants et faciles à utiliser pour prendre des décisions éclairées.</p>
        <a href="{%url 'portfolio'%}" class="btn btn-primary btn-lg">Commencer</a>
    </div>
</div>





{% else %}
<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Connectez-vous</h5>
        <p class="card-text">Pour accéder à toutes les fonctionnalités de FinanceBMB, veuillez vous connecter ou créer un compte.</p>
        <a href="{% url 'signup' %}" class="btn btn-primary">Créer un compte</a>
        <a href="{% url 'login' %}" class="btn btn-secondary">Se connecter</a>
    </div>
</div>
{% endif %}
{% endblock %}
