{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}



        <h2>Quelle compagnie cherchez-vous?</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Chercher</button>
        </form>

<div class="affichage-liens">
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'portfolio' %}">Portfolio</a>
    </div>

    {% else %}
        <p>Vous n'êtes pas connecté</p>
        <p><a target="_blank" href="{% url 'signup' %}">Créer un compte</a></p>
        <p><a target="_blank" href="{% url 'login' %}">Se connecter</a></p>
    {% endif %}
{% endblock %}