{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}



        <h2>Quelle compagnie voulez vous chercher ?</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>

    {% else %}
        <p>You are not logged in</p>
        <p><a target="_blank" href="{% url 'signup' %}">Create an account</a></p>
        <p><a target="_blank" href="{% url 'login' %}">Log in</a></p>
    {% endif %}
{% endblock %}