{% extends 'base.html' %}

{% block title %}Vous avez oublié votre mot de passe?{% endblock %}

{% block content %}
  <h1>Vous avez oublié votre mot de passe?</h1>
  <p>Entrez votre adresse courriel ci-dessous et nous vous enverrons les instructions pour le changement de mot de passe.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer les instructions">
  </form>

<div class="affichage-liens">
        <a href="{% url 'home' %}">Accueil</a>
    </div>
{% endblock %}